* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "GT Walsheim", sans-serif;
}

.body {
  display: flex;
  /* background-image: url("../component/ic_board.png"); */
  background-color: #050505a4;
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  /* background-image: linear-gradient(to bottom, #e9d4db, #863651); */
  opacity: 0.8;
}

.header {
  background-color: #2d78a1;
  position: fixed;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  width: 100%;
  box-shadow: 0 3px 5px #393f484d;
  font-size: 20px;
  font-weight: 500px;
  line-height: 22px;
  color: #ffffff;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title div {
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 8px;
  font-weight: 800px;
}

.title span {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400px;
}

.left-nav {
  width: 26%;
  display: flex;
}

.left-nav span {
  display: flex;
  align-items: center;
}

.left-nav img {
  width: 43px;
  border-radius: 50%;
  margin-right: 5%;
}

.header a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.btn-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 6px;
}

.vertical-center a {
  font-size: 16px;
  line-height: 17px;
  font-weight: 400px;
  cursor: pointer;
}

.vertical-center a:link,
.vertical-center a:visited {
  background-color: white;
  color: #2d78a1;
  border: 2px solid #2d78a1;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.vertical-center a:hover,
.vertical-center a:active {
  background-color: #2d78a1;
  color: white;
}

@media screen and (max-width: 800px) {
  .left-nav {
    width: 60%;
    display: flex;
    font-size: 18px;
    line-height: 20px;
  }
  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title div {
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  .title span {
    font-size: 18px;
    line-height: 20px;
  }

  .btn-title {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .vertical-center {
    top: 47%;
  }
}
